/* Flexes */
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: space-around;
    align-content: space-between;
    margin: 0;
    font: 30px;
}

.about{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.letter{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.letter2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.contact{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
}
.contact a:hover{
    background-color: rgba(0,0,0,0.5);
}
/* Top Nav Bar */
.topnav{
    font-size: 25px;
    font-family: serif;
    background-color: antiquewhite;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
    height: 10vh;
}
header{
    height: 10px;
}
a{
    color: rgb(167,149,123);
}
.topnav a:hover{
    background-color: rgb(167,149,123);
    color: rgb(214,200,187);
}
/* Bottom Nav Bar */
.bottomnav{
    font-size: 25px;
    font-family: serif;
    background-color: antiquewhite;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-content: stretch; 
}

.bottomnav a:hover{
    background-color: rgb(167,149,123);
    color: rgb(214,200,187);
    
}

/* Header Styling */
h1{
    text-align: center;
    font-size: 40px;
}
.head{
    background-color: rgba(239,218,171,.75);
    width: 50%; 
    margin-top: 370px;
    margin-bottom: 370px;
}
.f{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Paragraph Styling */
.p{
    display: flex;
    font-size: 30px;
    margin-left: 30px;

}
.p2{
    background-color: rgb(239,218,171);
    font-size: 30px;
    display: flex;
    padding: 15px;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    
}

/* Logo Styling */
.logo{
    height: 200px;
    margin-top: -60px;
}

/* Image Styling */
.img{
    display: flex;
    background-color: rgb(239,218,171);
}
.img2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    flex-direction: row;
    background-color: rgb(239,218,171);
    width: 50%;
}

/* Body Styling */
body {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/IMG_0553.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
    
}

.wrap{
    width: 80%;
    margin: 0 auto;
}
/* Color Styling */
.color{
 background-color: rgb(239,218,171);

}
 .color2{
 background-color: rgb(0,16,61);

}
/* Card Styling */
.card-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    
}

.card1{
    display: flex;
    background-image: url(../images/code.PNG);
    width: 20%;
    height: 500px;
}

.card-text{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 380px;
    font-size: 25px;
    color: rgb(239,218,171);
}

.card2{ 
    display: flex;
    background-image: url(../images/letter.jpg);
    width: 20%;
    height: 500px;
}



.card3{ 
    display: flex;
    background-image: url(../images/Photoshop.jpg);
    width: 20%;
    height: 500px;
}

/* Card Hover */

.card1 a:hover{
    background-color: rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.2);
}

.card2 a:hover{
    background-color: rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.2);
}

.card3 a:hover{
    background-color: rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.2);
}
/* Article Styling */
article{
    background-color: rgb(239,218,171);
    height: 100%;
}

/* Margins */
.r{
    margin-left: 20px;
    margin-top: 40px;
    font-size: 20px;
}

.mt{
    margin-top: 130px;
}

.font{
    font-size: 30px;
}

/* Slideshow Styling*/

.slideshow{
    max-width: 1000px;
    max-height: 1000px;
    position: relative;
    align-content: center;
    margin: auto;
}


.slide{
    display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(167,149,123,0.8);
}

.caption {
  color: black;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 3px;
  width: 97.6%;
  text-align: center;
}

.number{
    color: white;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.point{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: antiquewhite;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6 ease;
}

.active, .point:hover{
    background-color: rgb(167,149,123);
}



@media screen and (max-width: 900px){

    .topnav{
    font-size: 25px;
    font-family: serif;
    background-color: antiquewhite;
    text-decoration: none;
    text-align: justify;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch; 
    
} 
    
    .logo{
        display: none;
    }
    
.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    }
    
    .p{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    width: 103.6%;
    }
    
    .img {
    display: flex;
    background-color: rgb(239,218,171);
    width: 100%
}
    
    .card-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    
}


.card-text{
    display: flex;
    width: 380px;
    font-size: 25px;
    color: rgb(239,218,171);
}
.card1{
    display: flex;
    background-image: url(../images/code.PNG);
    width: 50%;
    height: 500px;
}

.card2{ 
    display: flex;
    background-image: url(../images/letter.jpg);
    width: 50%;
    height: 500px;
}



.card3{ 
    display: flex;
    background-image: url(../images/Photoshop.jpg);
    width: 50%;
    height: 500px;
}

.about{
    display: flex;
    flex-direction: column;
    }
  
.contact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}
    
}

