.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: space-between;
    align-content: space-between;
    margin: 0;
    
}

.topnav{
    font-size: 25px;
    font-family: serif;
    background-color: antiquewhite;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10vh;
}
header{
    height: 10px;
}
a{
    color: rgb(167,149,123);
}
.topnav a:hover{
    background-color: rgb(167,149,123);
    color: rgb(214,200,187);
}
.bottomnav{
    font-size: 25px;
    font-family: serif;
    background-color: antiquewhite;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-content: stretch;
   
}

.bottomnav a:hover{
    background-color: rgb(167,149,123);
    color: rgb(214,200,187);
    
}

h1{
    text-align: center;
    font-size: 40px;
}
.head{
    background-color: rgba(239,218,171,.75);
    width: 50%; 
    margin-top: 300px;
    margin-bottom: 300px;
}
.f{
    display: flex;
    align-items: center;
    justify-content: center;
}
.p{
    background-color: rgb(239,218,171);
    font-size: 30px;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}

.logo{
    height: 200px;
    margin-top: -60px;
}
.img{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    flex-direction: row;
    background-color: rgb(239,218,171);
}
body {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/IMG_0553.jpg);
    padding: 0;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    
}
.color{
 background-color: rgb(239,218,171);

}

article{
    background-color: rgb(239,218,171);
    height: 100%;
}